v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea

server/storage/
server/.env
frontend/.env
collector/.env
*.sqlite
*.sqlite3
*.db
*.log
.next/
.logs/
